{% extends 'base.html' %}

{% block title %}{{ student.first_name }} {{ student.last_name }}{% endblock title %}

{% block content %}

<h1>Student haqida ma'lumot</h1>

<table border="1" cellpadding="8">
    <tr>
        <th>Ism</th>
        <td>{{ student.first_name }}</td>
    </tr>
    <tr>
        <th>Familiya</th>
        <td>{{ student.last_name }}</td>
    </tr>
    <tr>
        <th>Yosh</th>
        <td>{{ student.age }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ student.email }}</td>
    </tr>
    <tr>
        <th>Kursi</th>
        <td>
            <a href="{% url 'course_students' student.course.id %}">{{ student.course.name }}</a>
        </td>
    </tr>
</table>

<br>
<a href="{% url 'student_update' student.id %}">Tahrirlash</a> |
<a href="{% url 'index' %}">&larr; Bosh sahifaga qaytish</a>

{% endblock content %}
